
<div class="row">
  <div class="col-sm-6">Upvotes:{{quote.downvotes}}</div>
  <div class="col-sm-6">Downvotes:{{quote.upvotes}}</div>
</div>

<div class="row" id="details">
  <div class="col-sm-3">
    <p>
      by {{quote.author}}
    </p>
  </div>
  <div class="col-sm-3">
    <button (click) = 'quoteDelete(true)' class="btn btn-danger">Delete</button>
  </div>
  <div class="col-sm-3">
    <button (click) = 'voteDown(true)' class="btn btn-info" id="up">Upvote</button>
  </div>  
  <div class="col-sm-3">
    <button (click) = 'voteUp(true)' class="btn btn-warning" id="down">Downvote</button>
  </div>

</div>

